<?xml version="1.0" ?>
<robot name="extras" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- RealSense Camera URDF -->
  <xacro:include filename="$(find baxter_description)/urdf/accessories/realsense_d435.urdf.xacro"/>

  <!-- RealSense D43X Camera -->
  <sensor_d435 parent="base">
    <origin xyz="0.18 .01 0.24" rpy="0.05 -.015 0.0"/>
  </sensor_d435>

  <!-- Define optical_frame wrt the camera_link -->
  <!-- <link name="/cameras/realsense/camera_color_optical_frame"/>
  <joint name="/cameras/realsense/camera_color_optical_frame_joint" type="fixed">
    <origin xyz="-0.0418 0.0156 0.0721" rpy="-1.5385 -0.0670 -0.0043"/>
    <parent link="base" />
    <child link="/cameras/realsense/camera_color_optical_frame" />
  </joint> -->

</robot>
