<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="pedestal" default="true"/>
  <xacro:arg name="accessories" default="true"/>
  <xacro:arg name="generic" default="false"/>
  <!-- Baxter Base URDF -->
  <xacro:if value="$(arg generic)">
    <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base_generic.urdf.xacro">
      <xacro:arg name="gazebo" value="${gazebo}"/>
    </xacro:include>
  </xacro:if>
  <xacro:unless value="$(arg generic)">
    <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.urdf.xacro">
      <xacro:arg name="gazebo" value="${gazebo}"/>
    </xacro:include>
  </xacro:unless>

  <!-- Baxter Pedestal -->
  <xacro:if value="$(arg pedestal)">
    <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro">
      <xacro:arg name="gazebo" value="${gazebo}"/>
    </xacro:include>
  </xacro:if>

  <!-- Left End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/left_end_effector.urdf.xacro" />

  <!-- Right End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/right_end_effector.urdf.xacro" />

  <!-- Baxter Accessories -->
  <xacro:if value="$(arg accessories)">
    <xacro:include filename="$(find baxter_description)/urdf/accessories/baxter_accessories.urdf.xacro"/>
  </xacro:if>

</robot>
